connection:
  url: 127.0.0.1:9001

server:
  host: '127.0.0.1'
  port: 2424
  logfile: /tmp/tm_01.log
  loglevel: 'debug'
  pidfile: /tmp/tm.pid
  umask: 022
  user: xblueadmin
  clients:
    xbluecode: '1234'
    xblack: 'xxxxxx'
    xgreycode: '5678'

client:
  prompt: 'tmaster $'
  host: 127.0.0.1
#  port: 2424
  username: xbluecode
  password: '123456789'

programs:
  - printargs:
      cmd: /tmp/print_args hello world from unit
      numprocs: 2
#      umask: '00777'
      wdir: .
      autostart: Yes
      autorestart: unexpected # always, never, unexpected
      delay: 0
      exitcodes:
        - 0
        - 1
        - 2
      starttime: 0 # starting time (sec)
      stoptime: 10
      retries: 3
      stopsig: TERM
      stddir: /tmp/cat1
      env:
        ENV1: env1
        ENV2: env2
#  - ls1:
#      cmd: /bin/ls
